@import 'colors';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
	margin-top: 20vh;
	background-color: #3C3C3B;
  color: white;
}

#yoda {
  height: 30vh;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

#yoda-walking {
  height: 20vh;
}

.button {
  font-weight: 600;
  border: none;
  color: $dark-gray;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: .2em;
  margin: .5em;
  border-bottom-style: solid;
  border-bottom-width: .2em;
  transition: text-shadow 0.3s ease;
  cursor: pointer;
}

.button:active {
  position: relative;
  top: 1px;
  border-bottom-width: 2px;
}

.button:hover {
  text-shadow: .1em .1em 0em $light-gray;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.green {
  background-color: $primary;
  border-color: $primary-darker;
}

.form input[type=text] {
  display: block;
}

input[type=text] {
  display: inline-block;
  color: white;
  padding: 1em 1.3em 1em 1em;
  font-size: 1em;
  width: 400px;
  box-sizing: border-box;
  background-color: $light-gray;
  border: none;
  border-radius: 2px;
  margin: 1em auto;
  transition:background-color 0.5s ease;
}

input[type=text]:focus {
  background-color: $medium-gray;
}

.inline {
  margin-right: 2em;
  margin-left: -2em;
}

#close * {
  cursor: pointer;
  color: gray;
  background-color: none !important;
}

#close:hover * {
  color: lightgray;
}